PORT=3000
DATABASE_URL=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=corridabim
JWT_SECRET=
RESEND_KEY=
NEXT_PUBLIC_DASHBOARD_PASSWORD=
RESEND_FROM_EMAIL="16ª Corrida Millennium bim <nao-responder@corridamillenniumbim.co.mz>"
INIT_WAIT_SEC=3
